#batingMoney::-webkit-inner-spin-button,
#batingMoney::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.game-arena {
    height: 475px;
    width: 91%;
    /* border: 2px solid red; */
    margin: 90px 60px 20px 60px;
    display: flex;
    border-radius: 20px;
    color: white;
}

.batting-side {
    height: 100%;
    background-color: rgb(50, 55, 56);
    width: 30%;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}



.batting-side p {
    padding: 0 0 5px 5px;
    color: #B3BEC1;
    font-size: 14px;

}

.secoreBord {
    width: 100%;
    height: 45px;
    background-color: rgb(41, 45, 46);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.scoreDisp {

    gap: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#batingMoney {
    background-color: transparent;
    border: none;
    width: 100px;
    height: 25px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    outline: none;
}

.scoreDisp img {
    object-fit: contain;
    height: 25px;
    width: 25px;
}

.incbutton button {
    height: 36px;
    width: 55px;
    border-radius: 8px;
    color: white;
    border: none;
    background-color: rgb(58, 65, 66);


}

.blurDisplayEffect {
    filter: blur(2px);
    transition: all ease-in-out 0.4s;
}

.batting-display {
    margin: 10px 0 10px 0;
}

.hilo-controls {

    display: flex;
    gap: 10px;
}

.higer,
.lower {
    width: 50%;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(58, 65, 66);
    border: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.higer span,
.lower span {
    padding-top: 6px;
    font-size: 14px;
}

.higer-txt span,
.lower-txt span {
    font-size: 14px;
    margin-right: 5px;
}



.skip-btn button {
    height: 40px;
    width: 100%;
    margin: 4px 0 5px 0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(58, 65, 66);

}

.bet-btn {
    margin: 0 0 20px 0;
    height: 40px;
    width: 100%;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;

}


/* gameing side css */
.game-side {
    padding: 20px;
    width: 70%;
    height: 100%;
    background-color: rgb(41, 45, 46);
    /* border: 2px solid green; */
    border-radius: 0 20px 20px 0;

}

.game {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.high-btn,
.low-btn {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.high-img span {
    position: absolute;
    right: 66px;
    top: 100px;

}

.low-img span {
    position: absolute;
    right: 66px;
    top: 75px;

}

.high-img img,
.low-img img {
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.cards {

    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards-img {
    height: 220px;
    width: 150px;
}

.cards-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.skipbtn {
    position: absolute;
    bottom: -15px;
}

.skipbtn button {
    height: 35px;
    width: 70px;
    border-radius: 10px;
    background-color: #4a5354;
    font-size: 16px;
    border: none;
    color: white;

}

.gameScoreBord {
    height: 100px;
    width: 600px;
    background-color: rgb(58, 65, 66);
    border-radius: .75rem;
    padding: .75rem;
    margin: 60px 0 0 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profithi,
.profitlow,
.totalprofit {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.profitlow-bord,
.profithi-bord,
.totalprofit-bord {
    background-color: rgb(41, 45, 46);
    height: 40px;
    width: 100%;
    border-radius: .75rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profithi-bordImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.profithi-bordImg span {
    font-size: 14px;
}

.profithi-bordImg {
    height: 20px;
    width: 20px;
}

@media (max-width: 1200px) {
    .gameScoreBord {
        margin: 60px 0 0 2.7rem;
        width: 80%;
    }
}




/* error msg style */
.warning {
    background-color: orange;
}

.signoutbtn{
   
    background: linear-gradient(270deg, rgb(251, 215, 101) 0%, rgb(239, 158, 63) 100%);
    box-shadow: rgba(255, 187, 0, 0.5) 0px 0px 10px 0px;
}