/* defualt css  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
    /* pointer-events: none; */
}

::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #141414d5;
    border-radius: 5px;
}
button{
   cursor: pointer;
}

/* main css start */
body {
    background-color: rgb(36, 38, 38);
    font-family: "Poppins", serif;
    font-weight: 500;
    /* height: 100vh; */
    
}

.main {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(41, 45, 46);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.logo {
    height: 35px;
    width: 150px;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.currancy-bar {
    height: 45px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 2px solid #5a5d5d;
    border-radius: 10px;
}

.main ul li {
    padding: 0 10px;
    list-style: none;
}

.main ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.profile {
    height: 40px;
    width: 60px;

}

.profile-img {
    outline: 4px solid #5a5d5d;
    height: 100%;
    border-radius: 50%;
}
.logoutbtn {
    height: 35px;
    width: 120px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;

}
.currancy-btn button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;
}

.currancny-logo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    left: 10px;
    background-color: none;
}

.currancny-logo img {
    height: 30px;
    padding-left: 5px;
}

.currancny-logo div {
    color: white;
    float: right;
}

#price span {
    font-weight: 800;
    font-size: 18px;
}

.currancy-btn i {
    top: 20px;
    right: 110px;
    padding-right: 5px;
}

/* main container */
.container-main {
    height: 100vh;
    margin: 100px 80px;

}

/* poster */

.poster {
    height: 250px;
    width: 100%;
    background-color: rgb(41, 45, 46);
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, rgb(46, 112, 81), transparent 40%);
    border-radius: 12px;
    user-select: none;
    
}

.poster img {
    position: absolute;
    height: 100%;
    object-fit: contain;
    
}

.poster img:nth-child(1) {
    left: 10px;
    z-index: 1;
}

.poster img:nth-child(2) {
    right: 15px;
    z-index: 1;
}

.poster img:nth-child(3) {
    right: 0px;
    height: 150px;
    padding-right: 15px;
    z-index: 1;
}

.poster img:nth-child(4) {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.poster-text {
    z-index: 1;
    position: absolute;
    color: white;
    left: 10rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.poster-text p {
    font-size: 30px;
    font-weight: 700;
}

.poster-text button {
    height: 35px;
    width: 200px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;


}

.poster-join {
    background-color: #0003;
    height: 110px;
    width: 300px;
    backdrop-filter: blur(3.5px);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.poster-join p:nth-child(1) {
    font-size: 16px;
}

.poster-join p:nth-child(2) {
    font-size: 22px;
}

.poster-join p:nth-child(2) span {
    color: rgb(36, 238, 137);
}

.poster-join p:nth-child(3) {
    font-size: 16px;
}