/* defualt css  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: top;
    /* pointer-events: none; */
}

::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: #1e2121;
}

::-webkit-scrollbar-thumb {
    background: #141414d5;
    border-radius: 5px;
}

button {
    cursor: pointer;
}

/* main css start */
body {
    background-color: rgb(36, 38, 38);
    font-family: "Poppins", serif;
    font-weight: 500;
    /* height: 100vh; */
    user-select: none;

}

.main {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(41, 45, 46);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}


/* navbar */
.logo {
    height: 35px;
    width: 150px;
}

.logo img {
    height: 100%;
    object-fit: contain;
}

.main ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.currancy-bar {
    height: 45px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border: 2px solid #5a5d5d;
    border-radius: 10px;
}

.main ul li {
    padding: 0 5px;
    list-style: none;
}

.main ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.profile {
    height: 40px;
    width: 60px;

}

.profile-img {
    outline: 4px solid #5a5d5d;
    height: 100%;
    border-radius: 50%;
}
.firstLogin{
    color:#9ca3a389;
    margin: 10px;
    font-weight: 700;
    font-size: 14px;
}

.logoutbtn,
.signupbtn {

    height: 35px;
    width: 100px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;

}

.loginbtn {
    height: 35px;
    width: 100px;
    color: black;
    border: 1px solid #e4eaf019;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    background-color: transparent;

}

.signupbtn a {
    color: #1e2121 !important;
}

.loginbtn a {
    color: #ffffff !important;
}

.currancy-btn button {
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;
}

.currancny-logo {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    left: 10px;
    background-color: none;
}

.currancny-logo img {
    height: 30px;
    padding-left: 5px;
}

.currancny-logo div {
    color: white;
    float: right;
}

#moneyOfBC{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: 800;
    font-size: 18px;
    margin-left: 2px;
    user-select: none;
}

#price span {
    font-weight: 800;
    font-size: 18px;
}

.currancy-btn i {
    top: 20px;
    right: 110px;
    padding-right: 5px;
}

.sponsorship, .promoson, .support{
    height: 38px;
    border-radius: .5rem;
    width: 40px;
    align-content: center;
    background-color: rgb(58,65,66);
}


/* profile card */
.profile-card {
    position: absolute;
    top: 20%;
    right: 27%;
    width: 45%;
    height: 60vh; 
    background-color: rgb(36, 38, 38);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 200;
    color: white;
    overflow-y: auto; 
    max-height: 80vh; 
}

.profile-Head {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(50, 55, 56);
    height: 60px;
}
.profile-Head  h1{
    padding: 1rem;
}

.profile-close{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(36, 38, 38);
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    padding-top: 2px;
    border: none;
}
.profile-close a i{
    font-size: 16px;
}

.profile-body{
padding: 20px;
}
.profile-body h3{
    padding: 8px;
}
.profile-body button{
    margin-top: 30px;
}

.profile-card img {
    width: 80px;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 10;
    /* scroll-behavior: smooth; */
}

.nodata{
    height: 300px;
    width: 90%;
    background-color:rgb(50,55,56);
    margin-left: 30px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.nodata img{
    width: 300px;
    height: 60%;
    object-fit: contain;
}


/* main container */
.container-main {
    height: 100%;
    margin: 100px 80px 10px 80px;

}

/* poster */

.poster {
    height: 250px;
    width: 100%;
    background-color: rgb(41, 45, 46);
    display: flex;
    align-items: center;
    position: relative;
    background-image: linear-gradient(to right, rgb(46, 112, 81), transparent 40%);
    border-radius: 12px;
    user-select: none;

}

.poster img {
    position: absolute;
    height: 100%;
    object-fit: contain;

}

.poster img:nth-child(1) {
    left: 10px;
    z-index: 1;
}

.poster img:nth-child(2) {
    right: 15px;
    z-index: 1;
}

.poster img:nth-child(3) {
    right: 0px;
    height: 150px;
    padding-right: 15px;
    z-index: 1;
}

.poster img:nth-child(4) {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.poster-text {
    z-index: 1;
    position: absolute;
    color: white;
    left: 10rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.poster-text p {
    font-size: 30px;
    font-weight: 700;
}

.poster-text button {
    height: 35px;
    width: 200px;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgb(36, 238, 137), rgb(159, 232, 113));
    box-shadow: rgba(35, 238, 136, 0.3) 0px 0px 12px, rgb(29, 202, 106) 0px -2px inset;


}

.poster-join {
    background-color: #0003;
    height: 110px;
    width: 300px;
    backdrop-filter: blur(3.5px);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.poster-join p:nth-child(1) {
    font-size: 16px;
}

.poster-join p:nth-child(2) {
    font-size: 22px;
}

.poster-join p:nth-child(2) span {
    color: rgb(36, 238, 137);
}

.poster-join p:nth-child(3) {
    font-size: 16px;
}


/* game section */

.arena {
    display: flex;
    flex-direction: column;


}

.game-heading {
    margin: 0 80px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

.game-title {
    color: white;
    font-weight: 900;
    width: 100%;
    font-size: 24px;
}

.game-card {
    margin: 0 80px;
    padding: 30px 20px;
    height: 460px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    transition: all ease-in-out 0.3s;

}

.hilo-game,
.coin-game {
    height: 400px;
    width: 300px;


}

.hilo-game img,
.coin-game img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
    transition: all ease-in-out 0.3s;
    box-shadow: rgba(141, 56, 197, 0.611) 0px 5px 15px;

}

.game-card img:hover {
    transform: scale(1.08);
    box-shadow: rgba(176, 106, 196, 0.734) 0px 5px 15px;
    border-radius: 25px;
}


/* footer css */

.footer {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #1e2121;
    padding: 10px;
}

.foot-dis,
.con-details {
    padding: 10px;
}

.foot-dis img {
    height: 55px;
    padding: 10px 0;
}

.con-details h2 {
    color: white;
    font-weight: 400;
    padding-bottom: 10px;
}

.foot-dis p,
.con-details p,
.copyright p {
    color: #B3BEC1;
    font-size: .875rem;
    line-height: 1.25rem;
    padding: 5px 0;
}

.con-details {
    padding-top: 20px;
}

.con-details span {
    color: #24ee89;
    text-decoration: underline;

}

.best-img {
    padding: 2rem 0;
    border-top: 2px solid #e4eaf019;
    border-bottom: 2px solid #e4eaf019;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.best-img img {
    height: 100px;
    width: 150px;
}

.foot-logo {
    height: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid #e4eaf019;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.foot-sign,
.foot-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.foot-icons {
    width: 40%;
}

.foot-sign {
    width: 55%;
}

.foot-sign img {
    height: 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.foot-icons img {
    height: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
